{% extends 'layout_dashboared.html.twig' %}
{% block title %}Event Details{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
                <h1 style="color: black">{{ evenement.titreevets }}</h1>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <th scope="row" class="w-25 bg-light">ID</th>
                        <td>{{ evenement.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Responsible Email</th>
                        <td>{{ evenement.responsableEmail }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Responsible ID</th>
                        <td>{{ evenement.responsableId }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Title</th>
                        <td>{{ evenement.titreevets }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Description</th>
                        <td>{{ evenement.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Start Date</th>
                        <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d') : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">End Date</th>
                        <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d') : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Location</th>
                        <td>{{ evenement.lieu }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Max Participants</th>
                        <td>{{ evenement.nombreParticipantsMax }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div>
                <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
                </div>
                <div>
                    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-primary mx-2">
                        <i class="fas fa-edit"> </i>Edit
                    </a>
                    <form method="post" action="{{ path('app_evenement_delete', {'id': evenement.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}